/* Custom Properties */
:root {
  --font-main: "Montserrat", sans-serif;
  --font-second: "Raleway", sans-serif;
}

/* --------------------------------Reset properties---------------------*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-second);
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

pre {
  padding: 0;
  font-family: inherit;
}
/* Utilies */

.width-20 {
  width: 20%;
}

.width-50 {
  width: 50%;
}

.width-100vw {
  width: 100vw;
}

.container {
  width: 100%;
}

.heigth-20 {
  height: 20px;
}

.heigth-50 {
  height: 50px;
}

.heigth-100 {
  height: 100px;
}

.height-20vh {
  height: 20vh;
}
.height-50vh {
  height: 50vh;
}
.height-80vh {
  height: 80vh;
}

.heigth-100vh {
  height: 100vh;
}

.text-small {
  font-size: 0.8rem;
}

.text-medium {
  font-size: 1.2rem;
}

.text-large {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

.top-0px {
  top: 0;
  left: 0;
}

.top-10px {
  top: 10px;
  left: 10px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: rgb(56, 55, 55);
}

.text-white * {
  color: white;
}

.text-black * {
  color: black;
}

.font-weigth-100 {
  font-weight: 100;
}
.fon-weigth-200 {
  font-weight: 100;
}
.font-weigth-300 {
  font-weight: 100;
}
.font-weigth-400 {
  font-weight: 400;
}
.font-weigth-500 {
  font-weight: 500;
}

.margin-1 {
  margin: 0.5rem;
}

.margin-2 {
  margin: 1rem;
}

.margin-3 {
  margin: 2rem;
}

.margin-left-sm {
  margin-left: 0.5rem;
}
.margin-left-md {
  margin-left: 1rem;
}
.margin-left-lg {
  margin-left: 1.5rem;
}

.margin-right-sm {
  margin-right: 0.5rem;
}
.margin-right-md {
  margin-right: 1rem;
}
.margin-right-lg {
  margin-right: 1.5rem;
}

.padding-1 {
  padding: 0.5rem;
}

.padding-2 {
  padding: 1rem;
}

.padding-3 {
  padding: 2rem;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 1rem;
}
.gap-3 {
  gap: 1.5rem;
}

.row {
  display: flex;
  flex: 1;
}

.col-1 {
  width: 8.333333333333333%;
}

.col-2 {
  width: 16.66666666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333333333%;
}

.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333333333%;
}
.col-8 {
  width: 66.66666666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333333%;
}
.col-11 {
  width: 91.66666666666667%;
}

.col-12 {
  width: 100%;
}

/* ---------------------------------Components---------------------- */

/* ----------------------------Buttons-------------------- */

.btn {
  width: 150px;
  height: 47px;
  padding: 0.5rem;
  color: white;
  background-color: rgb(44, 43, 43);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.btn:hover {
  background-color: transparent;
  border: medium solid lightgray;
  color: inherit;
}

.title-section {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

/* ----------------------------Buttons-------------------- */

.input {
  padding: 0.8rem;
  border: none;
}

.input-email {
  border-bottom: thin solid black;
}

/*-----------------------Key frames------------------------*/
@keyframes withgrow {
  0% {
    width: 0;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

/* Site Styles */

/*-------------------Navbar----------------------*/

.main-icon {
  font-family: "Pacifico", cursive;
  margin: 0;
}

.header-sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-link {
  position: relative;
  padding: 0.2rem;
}

.nav-link:hover::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  animation: withgrow 0.7s forwards ease-in;
}
/*-------------------Hero----------------------*/

.hero {
  width: 100%;
  height: 75vh;
  opacity: 0.9;
}

.hero-img {
  height: 100%;
}

.hero-img img {
  height: 100%;
  filter: saturate(0.5);
}

.btn-hero {
  position: absolute;
  left: 25%;
  bottom: 30%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-text {
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
}

.hero-text h3 {
  font-size: 3.6rem;
  letter-spacing: 5px;
  font-family: "Pacifico", cursive;
}

.hero-text p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.active-shop {
}

/* -----------------Card by Category--------------------- */
.cards-categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.card-category {
  width: 30rem;
  height: 27rem;
  background-color: rgb(44, 43, 43);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cart-category-img {
  width: 100%;
  height: 100%;
}

.cart-category-img img {
  height: 100%;
  filter: grayscale(0.4);
}

.card-category-text h3 {
  margin-top: 0.5rem;
}

.card-category-text i {
  color: white;
  margin-right: 0.5rem;
}

.card-category-line {
  width: 50%;
  padding: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: thin solid rgb(119, 118, 118);
}

.card-category-img {
  width: 100%;
}

.card-category-modal {
  top: 30%;
}

.card-category-modal div:first-child {
  margin-bottom: 0.5rem;
}

.card-category-btn {
  background-color: white;
  border-radius: 0.5rem;
  color: white;
  padding: 0.8rem;
  cursor: pointer;
  transition: background-color 0.7s ease-in;
}

.card-category-btn * {
  transform: color 0.7s ease-in;
}

.card-category-btn {
  color: white;
}

.card-category-btn:hover {
  background-color: black;
  color: white;
}

.card-category-btn:hover * {
  color: white;
}

/* -----------------Promotion--------------------- */

.promotion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.promotion-images {
  width: inherit;
  display: flex;
  height: 68vh;
  margin-bottom: 1rem;
  filter: grayscale(0.5);
}

.promotion-image {
  flex: 1;
  height: 100%;
}

.promotion-image img {
  height: inherit;
}

.promotion-message {
  height: 20vh;
  text-align: center;
}

.promotion-message-title {
  font-size: 2.5rem;
}

.promotion-message-description {
  font-size: 1.2rem;
}

.promotion-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.promotion-line {
  width: 70%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  margin-bottom: 3rem;
}

/* -----------------Cards Shoes--------------------- */

.card-shoes-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-shoes {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.card-shoe {
  width: 350px;
  height: 500px;
  text-align: center;
  cursor: pointer;

  box-shadow: 8px 7px 11px -4px rgba(173, 159, 173, 0.54);
}

.card-shoe-image {
  width: inherit;
  height: 80%;
}

.card-shoe-image img {
  height: 100%;

  transform: scale(80%);
  transition: transform 0.5s ease-in-out;
}

.card-shoe-image:hover img {
  transform: scale(100%);
}

.card-shoe-message {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 0 1rem;
}

.card-shoe-message h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-shoe-message p {
  margin: 0;
  font-size: 1rem;
  color: gray;
}

.card-shoe-message span {
  font-weight: 600;
  margin-left: 0.5rem;
}

/*-------------------Form Shop----------------------*/

.form {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-info {
  width: 80%;
  /* background-color: rebeccapurple; */
  text-align: center;
  margin-bottom: 2.5rem;
}

.form-info-title {
  font-size: 2.5rem;
  font-family: "Pacifico", cursive;
}

.form-info-description {
  font-size: 1.3rem;
}

.form-shop {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* background-color: rebeccapurple; */
}

.form-shop-email input {
  width: 40rem;
  padding: 1.2rem;
  outline: none;
  font-size: 1.2rem;
  color: gray;
}

.form-shop-email input::placeholder {
  font-size: 1.2rem;
  padding: 0;
}

.form-shop-submit input {
  width: 10rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.form-shop-submit input:hover {
  background-color: transparent;
  color: black;
  font-weight: 600;
  outline: medium solid black;
}

.form-shop-message {
  width: 80%;
  text-align: center;
  padding: 0.5rem;
  color: gray;
}

/*-------------------Footer----------------------*/

.link-footer {
  position: relative;
  padding: 0.2rem;
}

.link-footer:hover::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  animation: withgrow 0.7s forwards ease-in;
}

.icon-social-media {
  transition: opacity 0.2s ease-in;
}
.icon-social-media:hover {
  opacity: 10%;
}

/* Media Queries */

/* ------------------------------PAGE LOGIN-------------------------------- */

/* ---------------------------------Components---------------------- */

/* --------------------------------login-------------------------------- */
.login-container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(255, 255, 255); */
}

.login {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -5px 8px 12px -4px rgba(108, 105, 105, 0.18);
}

.login > h3 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  color: rgb(91, 89, 89);
}

.login form {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.login * label {
  width: 100%;
  display: block;
  padding: 0.5rem;
}

.login * input {
  width: 32.75rem;
  margin-bottom: 0.8rem;
  outline: none;
  border: thin solid rgb(209, 206, 206);
  border-radius: 0.4rem;
  font-size: 1.2rem;
  color: rgb(71, 69, 69);
  padding: 0.8rem;
}

.login * input:focus {
  outline: solid thin gray;
}

.login * input[type="submit"] {
  width: 15rem;
  height: 2.8rem;
  background-color: black;
  outline: none;
  border: none;
  color: white;
  font-size: 0.8rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login * input[type="submit"]:hover {
  background-color: rgb(58, 58, 58);
}

.login-forgot {
  font-size: 0.7rem;
}

.login-forgot a {
  text-decoration: underline;
  cursor: pointer;
}

/* ------------------------------PAGE REGISTER-------------------------------- */

/* ---------------------------------Components---------------------- */

/* --------------------------------register-------------------------------- */

.register-container {
  width: 100%;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.register {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.register-title {
  font-size: 2.5rem;
  color: rgb(91, 89, 89);
  font-family: "Pacifico", cursive;
}

.register-description {
  width: 50%;
  /* background-color: rebeccapurple; */
  text-align: center;
  color: gray;
  padding: 1.2rem;
  font-size: 1.2rem;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form-container {
  width: 50%;
  /* background-color: blueviolet; */
  /* height: 6rem; */
  display: flex;
  flex-direction: column;
}

.register-form-container label,
.register-form-container input {
  height: 3.5rem;
}

.register-form-container label {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0.8rem;
  /* font-weight: 900; */
}

.register-form-container > input {
  outline: none;
  border: none;
  border: thin solid rgb(209, 206, 206);
  border-radius: 0.4rem;
  font-size: 1.2rem;
  color: rgb(71, 69, 69);
  padding: 0.5rem;
}

.register-form-container input:focus {
  outline: solid thin gray;
}

.register-news {
  margin-top: 1rem;
  /* background-color: rebeccapurple; */
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
}

.register-news input {
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.register-submit {
  /* background-color: rebeccapurple; */
  width: 50%;
  padding: 0.8rem;
}

.register-submit input {
  width: 15rem;
  height: 2.8rem;
  background-color: black;
  outline: none;
  border: none;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.register-submit input:hover {
  background-color: rgb(58, 58, 58);
}

.register-privacy {
  /* background-color: rebeccapurple; */
  width: 50%;
  font-size: 0.7rem;
}

/* ------------------------------PAGE PRODUCTS-------------------------------- */

/* ---------------------------------Components---------------------- */

/* --------------------------------products-------------------------------- */

.products {
  width: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.products-container {
  width: 98%;
  /* background-color: rebeccapurple; */
  display: grid;
  grid-template-columns: 25% 1fr;
  margin: 2.5rem 0;
}

.products-filter {
  padding: 0.6rem;
}

.product-filter-title {
  font-size: 1.6rem;
  font-family: "Pacifico", cursive;
  text-transform: capitalize;
  margin-bottom: 0.8rem;
  color: rgb(51, 49, 49);
}

.product-filter-section:not(:first-child) {
  padding: 0.5rem;
  min-height: 15vh;
}

.product-filter-section:first-child {
  padding: 0.2rem;
}

.product-filter-line {
  height: 0.1rem;
  width: 80%;
  margin: 1.5rem 0;
  border-radius: 0.7rem;
  background-color: rgba(242, 231, 231);
  opacity: 0.4;
}

.product-filter-sizes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}
.product-filter-size {
  border: thin solid rgb(209, 203, 203);
  width: 5rem;
  height: 4rem;
}

.product-filter-size > a {
  width: 100%;
  height: 100%;
  font-weight: 900;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.product-filter-size > a:hover {
  background-color: rgb(170, 167, 167);
  color: white;
}

.product-filter-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-filter-check {
  width: 1.5rem;
  height: 1.5rem;
}

.product-box-color {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 0.5rem;
}

.product-single-color {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  border: thin solid lightgray;
}

.product-hue :nth-child(2) > .product-single-color {
  background-color: brown;
}
.product-hue :nth-child(3) > .product-single-color {
  background-color: black;
}
.product-hue :nth-child(4) > .product-single-color {
  background-color: gray;
}
.product-hue :nth-child(5) > .product-single-color {
  background-color: wh;
}

.product-filtered-titles {
  background-color: rgb(216, 198, 173);
  padding: 1rem;
  text-align: center;
}

.product-filtered-titles h2 {
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  font-weight: 200;
}

.product-filtered-titles p {
  font-size: 1.1rem;
}

.products-filtered {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.2rem;
}

.product-filtered-card {
  width: 350px;
  height: 680px;
  /* background-color: rebeccapurple; */
  padding: 0.5rem;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.product-filtered-card:hover {
  box-shadow: -1px 3px 27px 1px rgba(168, 159, 168, 1);
}

.product-card-img {
  width: 100%;
  height: 60%;
}

.product-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card-details {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.7rem;
}

.product-card-details-images {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.product-card-details-images > a {
  width: 3.7rem;
  height: 4rem;
  /* border: medium solid lightgray; */
}

.product-card-details-images a:hover {
  border: medium solid lightgray;
}

.product-card-details-images > a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card-section {
  height: 10%;
  /* background-color: aqua; */
  margin: 0 1rem;
}

.product-card-section h2 {
  margin-bottom: 0.5rem;
}

.product-card-sizes {
  display: flex;
  gap: 0.5rem;
}

.product-card-sizes > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 2.8rem;
  /* background-color: gray; */
  border: medium solid lightgray;
}

.product-card-sizes > a:hover {
  background-color: lightgray;
}

/* ------------------------------PAGE PRODUCT-------------------------------- */

/* ---------------------------------Components---------------------- */

/* --------------------------------product-------------------------------- */

.product-unit {
  width: 100%;
}

.product-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 10% auto 40%;
  grid-template-areas:
    "tiny-img    slider      filter"
    "description description filter";
}

.product-tiny-images {
  grid-area: tiny-img;
  height: 75vh;
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.product-tiny-image {
  width: 90px;
  height: 90px;
}

.product-tiny-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-slider-images {
  position: relative;
  grid-area: slider;
  background-color: aqua;
  height: 75vh;
}

.product-slider-images > img {
  width: 100%;
  height: 100%;
}

.product-slider-images .product-slider-arrows {
  width: 100%;
  position: absolute;
  bottom: 0.8rem;
  right: 2.5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.product-slider-images .product-slider-arrows * {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: rgb(243, 238, 238);
  color: gray;
  transition: background-color 0.3s ease-in;
}

.product-slider-images .product-slider-arrows *:hover {
  background-color: gray;
  color: white;
}

.product-filters {
  grid-area: filter;
  /* background-color: rebeccapurple; */
  padding: 2rem;
}

.product-filters-title h2 {
  font-size: 1.8rem;
}

.product-filters-title p {
  font-size: 1.2rem;
}

.product-filters-title p span {
  background-color: rgb(243, 235, 235);
  font-style: italic;
  font-weight: 600;
  font-size: 0.95rem;
  padding: 0.2rem;
  color: rgb(77, 74, 74);
}

.product-filters-title .starts {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.product-filters-title .start {
  width: 20px;
  height: 20px;
  background-color: rgb(202, 202, 22);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.product-filters-title .starts p {
  font-size: 0.92rem;
}

.product-filters-colors-title {
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.product-filters-color {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.product-filters-color > a {
  width: 50px;
  height: 50px;
  background-color: rebeccapurple;
  border-radius: 50%;
}

.product-filters-color > a:nth-child(1) {
  background-color: black;
}
.product-filters-color > a:nth-child(2) {
  background-color: rgb(116, 113, 113);
}
.product-filters-color > a:nth-child(3) {
  background-color: rgb(148, 101, 101);
}
.product-filters-color > a:nth-child(4) {
  background-color: rgb(24, 40, 72);
}

.product-filters-size {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem;
}

.product-filters-size > a {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  transition: background-color 0.3s ease-in-out;
}

.product-filters-size > a:first-child {
  background-color: rgb(24, 40, 72);
  color: white;
}

.product-filters-size > a:hover {
  background-color: rgb(221, 216, 216);
  border-color: rgb(62, 62, 62);
}

.product-add-card {
  width: 100%;
}

.product-add-card-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: rgb(24, 40, 72);
  color: white;
  padding: 0.9rem;
  font-weight: 600;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in;
}

.product-add-card-btn:hover {
  background-color: transparent;
  outline: medium solid rgb(24, 40, 72);
  color: rgb(24, 40, 72);
}

.product-add-card-info {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.product-details {
  grid-area: description;
  /* background-color: rebeccapurple; */
}

.product-details-title {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1.2rem;
}

.product-details > p {
  text-align: center;
  font-size: 1rem;
  padding: 0.2rem;
}

.product-carts {
  width: 100%;
  padding: 2rem;
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.product-cart:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.product-cart {
  width: 100%;
  display: flex;
  height: 50vh;
  /* background-color: aqua; */
}

.product-cart-description {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-card-image {
  flex: 1;
}

.product-card-image img {
  width: 100%;
  height: 100%;
}

.product-cart-title {
  font-size: 1rem;
  text-align: start;
  font-weight: 100;
  text-align: justify;
  /* background-color: rebeccapurple; */
  margin-bottom: 1.2rem;
}

.product-cart-subtitle {
  font-size: 2.1rem;
  text-align: justify;
}

.product-cart-info {
  font-size: 1.1rem;
  line-height: 1.8rem;
  text-align: justify;
  letter-spacing: 0.2rem;
}

.product-reviews {
  padding: 8rem;
  /* background-color: rebeccapurple; */
}

.product-reviews-title {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-bottom: thin solid lightgray;
  /* background-color: aqua; */
}

.product-review {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  height: 250px;
  padding: 1rem;
  border-bottom: thin solid lightgray;
  border-width: 50%;
  /* background-color: rebeccapurple; */
}

.product-review-comment {
  flex: 3;
}

.product-review-starts {
  display: flex;
  gap: 0.3rem;
}

.product-review-starts > div {
  width: 20px;
  height: 20px;
  background-color: rgb(236, 236, 52);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  margin-bottom: 0.8rem;
}

.product-review-title {
  font-size: 1.3rem;
}

.product-review-description {
  width: 70%;
  font-size: 1.2rem;
}

.product-review-user {
  flex: 1;
  background-color: rgb(246, 243, 243);
  padding: 1rem;
}

.product-review-user span {
  font-weight: 900;
  margin-right: 0.5rem;
}

.product-hero {
  height: 40vh;
  /* background-color: rebeccapurple; */
  padding: 2rem;
  display: flex;
  align-content: start;
  justify-content: center;
}

.product-hero-container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.product-hero-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: gray;
}

.product-hero-score {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-hero-rating {
  align-self: flex-start;
  font-size: 3rem;
  padding: 0;
  margin-right: 0.8rem;
}

.product-hero-message {
  font-size: 1.2rem;
}

.product-review-starts > div {
  background-color: black;
}

/* ------------------------------PAGE SHOP-------------------------------- */

.shop-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(139, 138, 138, 0.8);
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
}

.shop-info {
  width: 30%;
  background-color: white;
  border-bottom: thin solid gray;
}

.shop-info-close {
  /* height: 4rem; */
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem;
  margin-left: 1rem;
}

.shop-info-close i {
  font-size: 2.5rem;
  cursor: pointer;
  font-weight: 100;
}

.shop-info-products hr {
  width: 80%;
  height: 2px;
  margin: 0.85rem auto;
  background-color: rgba(247, 242, 242, 0.5);
  opacity: 50%;
}

.shop-info-desc {
  height: 8rem;
  padding: 0.6rem;
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.shop-info-desc-info {
  flex: 2;
  height: 100%;
}

.shop-info-desc-info img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.shop-info-desc-titles {
  flex: 5;
}

.shop-info-desc-titles h2 {
  text-align: center;
  /* background-color: aqua; */
  margin-bottom: 0.4rem;
}

.shop-info-desc-titles p {
  font-size: 1rem;
  margin: 0;
}

.shop-info-desc-titles span {
  font-weight: 900;
}

.shop-info-desc-close {
  flex: 1;
  cursor: pointer;
}

.shop-info-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* margin: 0.5rem 0; */
}

.shop-info-buttons {
  /* width: 4rem;
  height: 2rem; */
  border: medium solid gray;
  /* padding: 1rem 2rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-info-buttons > * {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.shop-info-buttons div:first-child,
.shop-info-buttons div:last-child {
  font-size: 1.9rem;
  color: gray;
  cursor: pointer;
}

.shop-info-buttons-price {
  font-size: 1.2rem;
  font-weight: 600;
}

.shop-info-total {
  padding: 0.6rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.shop-info-total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
}

.shop-info-total-price span {
  font-weight: 600;
}

.shop-info-total-proceed {
  margin-top: 2rem;
  background-color: rgb(24, 40, 72);
  padding: 0.8rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.shop-info-total-proceed:hover {
  background-color: rgba(24, 40, 72, 0.5);
}
